{%  extends "smssender/base.html" %}

{%  block content %}


        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="/index">Home</a>
        </li>
        <li>
            <a href="/passchange/{{ user.username }}">Change password</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i>Change Password</h2>

                    <form style="margin-top: 100px" method="post" id="password">
{% csrf_token %}
                       <div class="form-group has-success col-md-4">

                    <label class="control-label" for="newpass">New Password</label>
                      <a style="position:absolute;margin-top:35px;margin-left:250px;text-decoration:none ;"  id="npass" onclick="npassw()">Show</a>
                    <input type="password" class="form-control" id="newpass" name="newpass" /><br>
                    <label class="control-label" for="confpass">Confirm Password</label>
                    <a style="position:absolute;margin-top:35px;margin-left:225px;text-decoration:none ;"  id="cpass" onclick="cpassw()">Show</a>
                    <input type="password" class="form-control" id="confpass" name="confpass" /><br>

                   <button type="submit" class="btn btn-default"style="color:#2fa4e7;border-color:#2fa4e7;border-radius:5px">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <button type="reset" class="btn btn-default" style="color:#2fa4e7;border-color:#2fa4e7;border-radius:5px">Reset</button>

                </div>

                    </form>

            </div>



                             </div>
                </div>

    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->
    <script>
    function passw()
    {

    d=document.getElementById("spass");
    if(d.innerHTML=="Show")
    {

        document.getElementById("pass").setAttribute("type","text");
        d.innerHTML="Hide";

    }
    else{
          document.getElementById("pass").setAttribute("type","password");
        d.innerHTML="Show";

    }
    }
     function npassw()
    {

    d=document.getElementById("npass");
    if(d.innerHTML=="Show")
    {

        document.getElementById("newpass").setAttribute("type","text");
        d.innerHTML="Hide";

    }
    else{
          document.getElementById("newpass").setAttribute("type","password");
        d.innerHTML="Show";

    }
    }

     function cpassw()
    {

    d=document.getElementById("cpass");
    if(d.innerHTML=="Show")
    {

        document.getElementById("confpass").setAttribute("type","text");
        d.innerHTML="Hide";

    }
    else{
          document.getElementById("confpass").setAttribute("type","password");
        d.innerHTML="Show";

    }
    }
   </script>

<script>
if ("{{ msg }}" != "") {
    alert("{{ msg }}");
}
</script>
{%  endblock content %}